/* section img {
    width: 100vw;
    height: auto;
} */

#img-1 {
    width: clamp(20rem,40vw + 1rem,50rem);
}

#img-2 {
    align-self: center;
    width: clamp(10rem,40vw + 1rem,20rem);
}

#img-3 {
    align-self: center;
    width: clamp(10rem,40vw + 1rem,20rem);
    justify-content: center;
}

