@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@300&family=Lato:wght@300&family=Playfair+Display:wght@400;600&display=swap');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif; 
font-family: 'Playfair Display', serif;*/

:root {
    --ff-heading : 'Playfair Display', serif;
    --ff-body : 'Inter', sans-serif;
    --ff-body-2 : 'Lato', sans-serif;

    --fs-xxl : 3rem;

}

.heading-font {
    font-family: var(--ff-heading);
    font-size: var(--fs-xxl);
}

a {
    font-family:var(--ff-body-2) ;
    font-size: minmax(0.9rem,2rem);
}

nav a:hover {
    color: #DA931E;
    cursor: pointer;

}

p {
    font-family:  var(--ff-body );
}

h2 {
    font-family: var(--ff-body);
    font-size: x-large;
}

h4 {
    font-family: var(--ff-body);
    font-size: larger;
}

dl {
    font-family:  var(--ff-body );
    font-size: large;

}

.card p {
    font-size: small;
}

.menu h1 {
    text-align: center;
}

.last-cards {
    padding-block: 8em;
}

h5 {
    font-family: var(--ff-body-2);
    font-size: large;
    text-align: center;
}