nav a {
    padding: 0.6em;
}
nav {
    padding: 0.1em;
}

.heading-font {
    padding: 1em;
}

.tile {
    padding: clamp(0.1em,25vw + 0.01em,5em);
}

h4 {
    padding-block: 0.8em;
}

dl {
    padding-block: 0.2em;
}

.pd-1 {
    padding: 1em;
}


.pd-05 {
    padding: 0.5em;
}

h5 {
    padding-block: 1em;
}